.zoom{
	 display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    float: left;
}

/*book informations*/
#book-info{
	padding: 20px;
	border: 2px solid white;
	overflow: auto;
	background-color: white;
	border-style: outset;
}

.zoom img{
	width: 170px;
	height: 250px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.zoom img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#bookInformation{
	margin-left: 20px;
	float:left;
	display: block;
	width: 600px;
	height: 200px;
}

#bookInformation p{
	line-height: 20px;
	max-height: 200px;
}

.book-nav ul{
	margin-left: 0px;
	padding-left: 0px;
}

.book-nav ul li {
	padding-top: 10px;
	margin-right: 20px;
	font-size: 150%;
	font-weight: bold;

	/* Add properties below */
	list-style: none;
	display: inline-block;
	

}

/*chapter informations*/
#chapters{
	margin-top: 5px;
	background-color: white;
	border-style: outset;
	display: block;
	overflow: auto;
}

#chapterTable{
	width: 95%;
	margin-right: 5%;
	border-collapse: collapse;
}
#chapterTable tr{
	border-bottom: 1px solid grey;
}

.chapter p{
	font-size: 120%;
	margin-bottom: 3px;
	display: inline-block;
	padding: 2px;
}

/*author information*/
#authorInfo{
	margin-left: 2%;
	margin-top: 5px;
	background-color: white;
	border-style: outset;
	display: block;
	overflow: auto;
}
.authorPic{
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	display: block;
	width:10vw;
	height:10vw;
	border-radius: 50%;
}
#authorInfo h3{
	text-align: center;
}

#authorDetail{
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}
#authorDetail ul{
	justify-content: center;
  	display: flex;
  	padding: 0px;
}

#authorDetail ul li img{
	border-radius: 50%;
	width:5vw;
	height: 5vw;
}
#authorDetail ul li p{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 16px;
}
#authorDetail ul li {
	padding-top: 10px;
	margin-right: 20px;
	font-size: 150%;
	font-weight: bold;

	/* Add properties below */
	list-style: none;
	display: inline-block;
	

}

#posterSlider {
    width: 90%;
    height: 50px;
    margin: 10px;
    display: inline-block;
}

.otherBookImg{
	display: block;
margin-left: auto;
margin-right: auto;
	height:100px;
	width:100px;
}



#comments{
	margin-top: 5px;
	background-color: white;
	border-style: outset;
	display: block;
	min-height: 200px;
}

#comments h2{
	display: inline-block;
	margin-left: 10px;
}
    
.comment{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

.CommentUserImage{
	float: left;
	width:70px;
	height:70px;
	display: block;
	border-radius: 50%;
	margin-right: 10px;

}
.CommentUserName{
	display: block;
	color:blue;

}

.center{
	text-align: center;
}

#commentForm div{
	margin-top: 5px;
	margin-right: 5%;
}

.commentButton{
	float: right;
	margin-right: 10px;
}

#commentForm textarea{
	margin-left: 5%;
	width: 90%;
	padding: 15px;
	margin: 5px 0 0 10px;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 50px;
}



/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: right;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  width: 10px;
  height: 10px;
}


.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 