#posterSlider {
    width: 95%;
    height: 80px;
    margin: 10px;
    display: inline-block;

}


#leftSideBar {
    float: left;
    margin: 20px;
    margin-top: 10px;
    width: 15%;
    clear: left;
}

.sec {
    margin-left: -20px;
    margin-right: -20px;
}

.category {
    text-align: center;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#categories a {
    text-decoration: none;
}

.break {
    height: 40px;
    margin-left: -15px;
    margin-right: -15px;
}

#authorRec {
    text-align: left;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 21px;
    margin-top: 20px;
}

#authorRec a {
    text-decoration: none;
    color: inherit;
}

.author {
    display: block;
}


#header {
    height: 70px;
}

#center {
    float: left;
    width: 55%;
    margin-top: 20px;
    margin-left: 30px;
}

h4 {
    width: 95%;
    margin: 10px;
    display: inline-block;
    border-bottom: 1px solid #124559;
    color: #2b2b2b;
}

#ranking {
    margin: 10px;
}

.bookDisplay {
    clear: right;
    display: inline-block;
    margin-left: 5px;
}

.bookDisplayImg {
    width: 50px;
    height: 70px;
    display: block;
    float: left
}

.bookDisplayText {
    float: left;
    margin-left: 10px;
    font-size: 15px;
}

.displayInfo {
    color: #8e8d8a;
    font-size: 12px;
}

.displayDesc {
    font-size: 11px;
}

.book {
    padding: 15px 0 0 0;
    margin: auto;
    max-width: 85px;
    max-height: 128px;
}

.shelf {
    border-bottom: 30px solid #AEC3B0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -15px;
    z-index: -1;
}

#books {
    width: 100%;
    display: inline-block;
}

#rightSideBar {
    margin: 10px 20px 20px 7px;
    float: left;
    width: 20%;
    clear: right;
}
