#TextBox{
	width:45%;
	text-align:center;
	height:50%;
	float: left;
}

#LoginBox{
	margin-left:25%;
	width:50%;
}

#Text{
	font-size:50%;
}

#loginButton {
	margin-left: 40%;
}

.welcomeMsg {
	font-size: 15px;
	display: inline-block;
	padding: 10px;
}