body {
    margin: 0;
    background-color: #eae7dc !important;
    font-family: "Times New Roman", Times, serif !important;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

#wrapper {

    padding-right: 10%;
    padding-left: 10%;
    margin-top: 100px;
}
