body {
    margin: 0;
    background-color: #eae7dc !important;
    font-family: "Palatino", Times, serif !important;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

#wrapper {

    padding-right: 10%;
    padding-left: 10%;
    margin-top: 100px;
}

/* -----------------------Theme color codes   -----------------------   */
/* Background color: #eae7dc */
/* Light brown (used for emphasis) : #d8c3a5 */
/* Dark grey font color: #2b2b2b */
/* Light grey font color: #8e8d8a */
/* Decorating red color: (lighter) #e98074, (brighter) #e85a4f */