.littleText {
    font-size: 14px;
}

button[type=button] {
    font-size: 14px;
    color: #67898a;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #67898a;
    margin-left: 30%;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

/* The pop up (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    position: absolute;
    right: 22%;
    top: 0;
    color: lightblue;
    font-size: 55px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #67898a;
    box-sizing: border-box;
}

::placeholder {
    color: grey;
}

/* Center the avatar image inside this container */
.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
.avatar {
    width: 20%;
    border-radius: 50%;
}

.text {
    border-color: #000;
}

#SignUpInfo {
    width: 70%;
    margin-left: 15%;
    margin-right: 0;
    padding: 20px;
}

.center {
    margin-left: 20%;
}