.profileimg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: solid black;

}

.hover {

}
.hover:hover {
    cursor: pointer;
}


.profileimgcontent {
    width: 250px;
    margin: 0 auto;
}

.profiletextcontainer {
    text-align: center;
    height: 200px;
    border: solid black;
}

.containment {
    margin-top: 30px;
}

.profileheader {
    text-align: center;
}

#follow-button {
    float: right;
    margin-top: 10px;
    display: none;
}

.statscontainer {
    border: solid black;
    margin-bottom: 30px;
}

.statbox {
    width: 32%;
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;
}

#book-shelf {
    border: solid gray;
    border-width: 5px;
    background: url("/img/wood.jpg");
    background-size: cover;
    background-repeat: repeat-y;

}

#book-shelf h1 {
    margin: 10px;
    text-align: center;
    text-shadow: rgb(255, 255, 255) 1px 1px 1px;
}

.shelf-search {
    width: 70%;
    margin-left: 15%;
    display: inline-block;
}

.rows-container {
    margin-top: 30px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 20px;
}


.book-row {
    display: flex;
    justify-content: space-between;
    height: 30%;
    padding-left: 0px;
    border-bottom: black 4px;
}

.book-row li {
    list-style: none;
    height: 80%;
    width: 17%;
    display: block;
    margin: 7px;
    box-shadow: 5px 5px 14px 4px rgba(42, 42, 42, 0.79);
    cursor: pointer;
    position: relative;
}

.book-row li img {
    height: 100%;
    width: 100%;
}

.rows-container {
    height: 600px;
}

#book-shelf {
    height: 750px;;
}

.shelf-navs {
    width: 7.5%;
}

.nav-container ul {
    display: block;
}

.nav-container ul li {
    border: solid black;
    border-top: none;
    display: block;
    padding: .5rem 1rem;
}

.nav-container ul li:hover {
    background: #dbe4f1;
    cursor: pointer;
}

.nav-container ul li.active {
    background: #dbe4f1;
}

.nav-container ul li.active {
    color: #0056b3;
}

#main-content-containter div.active {
    display: block;
}

#main-content-containter div.fade {
    display: none;
}

#cancelbutton {
    display: none;
}

#following {
    height: 600px;
    border: solid gray;
    border-width: 5px;
    padding-top: 10px;
}

#following-list {
    padding: 0px;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.following-container {
    height: 100px;
    border: 1px solid black;
    border-bottom: none;
    padding-top: -1px;
}

.following-container img {
    height: 100%;
    float: left;
}

.following-container img:hover {
    cursor: pointer;
}

.following-container button {
    float: right;
    vertical-align: middle;
}

.following-info {
    margin-left: 10px;
    float: left;
    vertical-align: middle;
}

.following-info h3:hover {
    cursor: pointer;
}

.book-delete {
    position: absolute;
    background: red;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    line-height: 0px;
    padding-bottom: 4px;
}

.book-delete:focus {
    outline: none;
}

#new-book-button {
    margin: 20px auto;
    display: block;
}

.modal-content {
    padding: 25px;
}

#book-cancelbutton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.book-edit {
    position: absolute;
    width: 100%;
    bottom: -20px;
}

#chapter-list {
    margin-top: 20px;
    display: none;
}

#add-chapter {
    display: block;
    margin-bottom: 10px;
    font-size: small;
}

.chapter-edit-button {
    float: right;
    margin-right: 20px;
}

.modal {
    overflow-y: auto;
}

#notifications button {
    margin-top: 10px;
}

#not-list-group li:hover {
    cursor: pointer;
}

#bookLogo {
    margin-left: 120px;
}